{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Alice&family=Dancing+Script&family=Playfair+Display&family=Lora&family=Quicksand&family=Poppins&family=Marck+Script&family=Raleway&family=Amatic+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/indexxx.css' %}">
<style>
   .carousel-inner {
    text-align: center; /* Centrer le texte */
    padding: 20px;
}

.carousel-item p {
    margin: 0 auto;
    max-width: 800px; /* Limite la largeur pour une meilleure lisibilité */
    line-height: 1.8; /* Améliore l'espacement des lignes */
}

.carousel-item {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Fond semi-transparent couvrant toute l'image */
    z-index: 1; /* Pour être sûr que le fond soit au-dessus de l'image */
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2; /* Le texte est au-dessus du fond transparent */
}
.carousel-caption h1{
    color: #f1f1f1;
    font-family: 'Cardo', serif; 
    font-size: 4.1rem;
}

.carousel-caption h1,
.carousel-caption p {
    margin: 0;
}
</style>

<style>
    #slider-container {
       max-width: 100%; /* Pour s'adapter au conteneur parent */
       max-height: 450px; /* Limite la hauteur */
       overflow:hidden; /* Empêche les débordements */
       margin-top: -3%;
     }
     #slider-container img {
       max-height: 500px; /* Assure que l'image reste dans la hauteur maximale */
       object-fit:unset; /* Les images remplissent leur conteneur de manière uniforme */
       width: 100%; /* Assure la largeur complète */
     }
 </style>
   

<title>Grow and Arise</title>
</head>

<body>
    <!-- Animation à gauche -->
    <div id="left-animation"></div>
    
    <!-- Animation à droite -->
    <div id="right-animation"></div>

    <div id="transparent-overlay"></div>

    <!-- Animation Lottie à gauche -->
    <div id="lottie-background"></div>

    <!-- Animation Lottie à droite -->
    <div id="lottie-background-right"></div>
    <div id="transparent-overlay"></div>
    
    <header class="text-center py-5" style="background-color: #ffffff; height:150px;">
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3">
            <!-- Partie texte 1 -->
            <h1 class="fw" style="color: #4b4b4b;">Grow and Arise</h1>
            
            <!-- Logo (vidéo MP4) -->
            <div class="logo-container">
                <video autoplay loop muted playsinline class="logo-video" style="width: 100px; height: 85px;">
                    <source src="{% static 'videos/Grow_and_Aris (3).mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            
            <!-- Partie texte 2 -->
            <h1 class="fw" style="color: #4b4b4b;">| Your Personal Companion Growth App</h1>
        </div>
    </header>
    
  <!-- Slider Container -->
  <div id="slider-container" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static '/images/320891d7-1a2a-4a16-9446-acedd83d127b.JPG' %}" class="d-block w-100" alt="Image 1">
      </div>

      <div class="carousel-item">
        <div class="image-overlay">
            <div class="carousel-caption" style="text-align: center; width: 100%; word-wrap: break-word;">
                <h1>"Your potential is limitless.
                    Don’t let procrastination hold you back."
                </h1>
            </div>
            
        </div>
        <img src="https://cdn.pixabay.com/photo/2019/04/10/12/40/watercolor-4117017_1280.png" class="d-block w-100" alt="Image 12">
        </div>

      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2021/04/16/19/00/motivation-6184232_1280.jpg" class="d-block w-100" alt="Image 3">
      </div>
      
      <div class="carousel-item">
        <div class="image-overlay">
            <div class="carousel-caption" style="text-align: center; width: 100%; word-wrap: break-word;">
                <h1>"Create habits that transform your life."</h1>
            </div>
        </div>
            <img src="https://cdn.pixabay.com/photo/2014/12/21/23/47/sofa-576032_1280.png" class="d-block w-100" alt="Image 12">
        </div>

      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2018/10/09/01/23/letter-board-3733894_1280.jpg" class="d-block w-100" alt="Image 5">
      </div>
      
      <div class="carousel-item">
        <div class="image-overlay">
            <div class="carousel-caption" style="text-align: center; width: 100%; word-wrap: break-word;">
                <h1>"Make every day a step toward excellence."</h1>
            </div>
        </div>
            <img src="https://cdn.pixabay.com/photo/2019/04/10/11/56/watercolor-4116932_1280.png" class="d-block w-100" alt="Image 12">
        </div>

      <div class="carousel-item">
        <img src="{% static '/images/ce01a2ed-a217-44d9-a9d2-1b678cfe2770.JPG' %}" class="d-block w-100" alt="Image 7">
      </div>
      
      <div class="carousel-item">
        <div class="image-overlay">
            <div class="carousel-caption" style="text-align: center; width: 100%; word-wrap: break-word;">
                <h1>"Invest in yourself, because you are your greatest asset."</h1>
            </div>
        </div>
            <img src="https://cdn.pixabay.com/photo/2019/04/10/12/40/watercolor-4117017_1280.png" class="d-block w-100" alt="Image 12">
        </div>

      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2018/05/15/18/54/mug-3403963_1280.jpg" class="d-block w-100" alt="Image 9">
      </div>

      <div class="carousel-item">
        <div class="image-overlay">
            <div class="carousel-caption" style="text-align: center; width: 100%; word-wrap: break-word;">
                <h1>"Sometimes, all it takes is a little push to change direction."</h1>
             </div>
        </div>
            <img src="https://cdn.pixabay.com/photo/2014/12/21/23/47/sofa-576032_1280.png" class="d-block w-100" alt="Image 12">
        </div>

      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2020/09/23/03/54/experiment-5594881_1280.jpg" class="d-block w-100" alt="Image 11">
      </div>

      <div class="carousel-item">
        <div class="image-overlay">
            <div class="carousel-caption" style="text-align: center; width: 100%; word-wrap: break-word;">
                <h1>"Change starts with a decision."</h1>
            </div>
        </div>
            <img src="https://cdn.pixabay.com/photo/2019/04/10/11/56/watercolor-4116932_1280.png" class="d-block w-100" alt="Image 12">
        </div>
    
    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#slider-container" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#slider-container" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!-- Première section -->
<section class="questionnaire my-3">
    <div class="card p-4 shadow-lg border-4 rounded" style="background: #69c2ba; border: 1px solid #ffffff;">
        <div class="row">
            <div class="col-md-4">
                <h4><i class="fas fa-bullseye"></i>About Discipline</h4>
                <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="7000">
                            <p class="text-dark" style="font-family: 'Cardo', serif; font-size: 1.1rem;">
                                Discipline is often considered the key to success. However, when it comes to putting it into practice, a real challenge arises: reconciling what we desire with what we must accomplish. That is why it is essential to always keep our goals in sight in everything we do.
                            </p>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <p class="text-dark" style="font-family: 'Cardo', serif; font-size: 1.1rem;">
                                Discipline is not just a constraint but a powerful tool for transforming our ambitions into concrete achievements. It pushes us to go beyond momentary ease to embrace what truly holds long-term value. Every disciplined step, no matter how small, brings us closer to what we want to build. Ultimately, discipline is not a barrier but a bridge to our deepest aspirations.
                            </p>
                        </div>                        
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>     
            </div>
        
            <div class="col-md-4">
                <!-- Conteneur pour l'animation Lottie Citation Quotidienne -->
                <div id="reality" style="width: 100%; height: 200px;"></div>
                    <h4>But ...</h4>
            </div>

            <div class="col-md-4">
                <!-- Conteneur pour l'animation Lottie Planification -->
                <h4><i class="fas fa-question-circle"></i> Question</h4>
                <p class="text-dark" style="font-family: 'Cardo', serif; font-size: 1.1rem;">
                    Q/ Does what I’m doing right now contribute to the achievement of my goals?
                </p>
                <p class="text-dark" style="font-family: 'Cardo', serif; font-size: 1.1rem;">
                    Q/ Do my daily actions prepare me for the opportunities to come?
                </p>
                <p class="text-dark" style="font-family: 'Cardo', serif; font-size: 1.1rem;">
                    Q/ How can I turn my mistakes into learning opportunities?
                </p>
                <p class="text-dark" style="font-family: 'Cardo', serif; font-size: 1.1rem;">
                    Q/ How can I define intermediate milestones to stay focused on my ultimate goal?
                </p>
                
            </div>
        </div>
    </div>
</section>

<!-- Deuxième section -->
<section class="questionnaire my-3" id="questionnaire">
    <div class="card p-4 shadow-lg border-4 rounded" style="background: #69c2ba; border: 1px solid #ffffff;">
        <h4 ><i class="fas fa-chart-line"></i>
            Take a few minutes to assess your progress and see exactly what you need to do to achieve your goals.
        </h4> 
        <form id="introspectionForm" class="text-center">
            <div id="question-container" class="py-2"></div>
            <button type="button" class="btn btn-primary btn-sm mt-3 px-4" id="nextBtn"><i class="fas fa-arrow-right me-3"></i>Next
            </button>
            <div class="mb-2 mt-3" id="resultButtonContainer" style="display: none;">
                <button type="button" class="btn btn-secondary btn-sm px-4" onclick="calculateScore()"><i class="fas fa-chart-bar me-2"></i>Show my result</button>
            </div>
        </form>
    </div>
</section>

<!-- Modal for displaying results -->
<div id="resultModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <h2 class="text-center text-uppercase fw-bold mb-3 text-secondary">Result</h2>
        <p id="resultMessage"></p>
        <button type="button" class="btn btn-primary" onclick="resetQuiz()">Restart</button>
    </div>
</div>

<!-- Features Section -->
<section class="features">
        
    <div class="card p-4 shadow-lg border-4 rounded" style="background: #69c2ba; border: 1px solid #ffffff;">
    
    <div class="row">
        <div class="col-md-4">
            <!-- Container for Lottie animation Planning -->
            <div id="planification" style="width: 100%; height: 200px;"></div>
                <h4>Planning</h4>
                <p style="font-family: 'Cardo', serif; font-size: 1.1rem;">Create clear goals and track your progress.</p>
        </div>
        <div class="col-md-4">
            <!-- Container for Lottie animation Daily Quote -->
            <div id="citation" style="width: 100%; height: 200px;"></div>
                <h4>Daily Quote</h4>
                <p style="font-family: 'Cardo', serif; font-size: 1.1rem;">Receive a daily dose of inspiration.</p>
        </div>
        <div class="col-md-4">
            <!-- Container for Lottie animation Progress Tracking -->
            <div id="suivi" style="width: 100%; height: 200px;"></div>
                <h4>Progress Tracking</h4>
                    <p style="font-family: 'Cardo', serif; font-size: 1.1rem;">Visualize your achievements and grow each day.</p>
        </div>

    </div>
    </div>
</section>

    <!-- Call-to-Action Section -->
<section class="cta" id="cta-section">
    <div class="card p-4 shadow-lg border-4 rounded" style="background: #69c2ba; border: 1px solid #ffffff;">
        <h2 class="text-center text-uppercase fw-bold mb-3 text-dark" style="font-family: 'Cardo', serif; font-size: 1.75rem;">
            Ready to Shine?
        </h2>
        <div class="inspirational-section mb-3 p-4 shadow-sm rounded">
            <p class="text-dark" style="font-family: 'Cardo', serif; font-size: 1.1rem;">
                Join our community and start your personal growth journey today.
            </p>
            <button class="btn btn-primary" onclick="window.location.href='/login'"><i class="fas fa-road me-2"></i>Start Your Journey</button>
        </div>
        
    </div>
</section>

<!-- Script section -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.6/lottie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.6/lottie.min.js"></script>

<script>
       const questions = [
        { label: "1. How satisfied are you with your current progress in life?", name: "q1" },
        { label: "2. Do you feel motivated every morning to achieve your goals?", name: "q2" },
        { label: "3. Do you think you have a good balance between work and personal life?", name: "q3" },
        { label: "4. Do you feel fulfilled in your personal relationships?", name: "q4" },
        { label: "5. Do you have a clear vision of your long-term goals?", name: "q5" },
        { label: "6. How satisfied are you with your current skills?", name: "q6" },
        { label: "7. Do you feel supported by your surroundings in your projects?", name: "q7" },
        { label: "8. How in control do you feel of your own time?", name: "q8" },
        { label: "9. Do you feel you have enough time to dedicate to your passions?", name: "q9" },
        { label: "10. Do you feel capable of managing daily challenges with confidence?", name: "q10" },
        { label: "11. Do you have a routine that helps you stay focused on your goals?", name: "q11" },
        { label: "12. Are you satisfied with your current health?", name: "q12" },
        { label: "13. Do you think you are effectively using your potential?", name: "q13" },
        { label: "14. Do you feel aligned with your personal values?", name: "q14" },
        { label: "15. How confident are you in your ability to overcome obstacles?", name: "q15" },

    ];

let currentQuestionIndex = 0;


function showQuestion(index) {
    const questionContainer = document.getElementById("question-container");
    questionContainer.innerHTML = `
        <div class="question-wrapper">
            <label class="fs-5 text-dark">${questions[index].label}</label>
            <div class="response-row">
                <label class="response-option" onclick="highlightResponse(this)">
                    <i class="fas fa-face-smile fa-2x mb-2 text-success"></i>
                    <div> <input type="radio" name="q1" value="5"> Very Satisfied</div>
                    <div class="underline"></div>
                </label>
                <label class="response-option" onclick="highlightResponse(this)">
                    <i class="fas fa-face-smile-beam fa-2x mb-2 text-primary"></i>
                    <div> <input type="radio" name="q1" value="4"> Satisfied</div>
                    <div class="underline"></div>
                </label>
                <label class="response-option" onclick="highlightResponse(this)">
                    <i class="fas fa-face-meh fa-2x mb-2 text-muted"></i>
                    <div><input type="radio" name="q1" value="3"> Neutral</div>
                    <div class="underline"></div>
                </label>
                <label class="response-option" onclick="highlightResponse(this)">
                    <i class="fas fa-face-frown fa-2x mb-2 text-warning"></i>
                    <div> <input type="radio" name="q1" value="2"> Dissatisfied</div>
                    <div class="underline"></div>
                </label>
                <label class="response-option" onclick="highlightResponse(this)">
                    <i class="fas fa-face-sad-tear fa-2x mb-2 text-danger"></i>
                    <div> <input type="radio" name="q1" value="1"> Very Dissatisfied</div>
                    <div class="underline"></div>
                </label>
            </div>
        </div>

    `;
    console.log(`Question générée : ${questions[index].label}`);

    // Show the result button when on the last question
    if (index === questions.length - 1) {
        document.getElementById("resultButtonContainer").style.display = "block";
    }

}

function highlightResponse(element) {
    // Reset underline for all response options
    const allResponses = document.querySelectorAll(".response-option");
    allResponses.forEach((response) => {
        response.classList.remove("active");
    });

    // Highlight the clicked response
    element.classList.add("active");
}

document.getElementById("nextBtn").addEventListener("click", function () {
    if (currentQuestionIndex < questions.length - 1) {
        currentQuestionIndex++;
        showQuestion(currentQuestionIndex);
    }
});

function calculateScore() {
    const form = document.getElementById('introspectionForm');
    const formData = new FormData(form);
    let totalScore = 0;
    let answeredQuestions = 0;

    // Loop through all the questions to calculate the score
    questions.forEach((question) => {
        const answer = formData.get(question.name); // Get the selected answer for each question
        if (answer) {
            totalScore += parseInt(answer, 10); // Add the value of the answer to the total score
            answeredQuestions++;
        }
    });

    // Avoid dividing by zero in case no questions were answered
    const maxPossibleScore = answeredQuestions * 5; // Maximum score for answered questions
    const percentage = maxPossibleScore > 0 ? Math.round((totalScore / maxPossibleScore) * 100) : 0;

    let encouragement = "";
    let message = "";

    // Motivate the user based on their score
if (percentage >= 80) {
    encouragement = "You're on the right track, keep it up!";
    message = "Congratulations! You've done an excellent job. As Steve Jobs once said, 'Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work.' You're clearly on the right path. Keep moving forward!";
} else if (percentage >= 50) {
    encouragement = "Good job, but there's still room for improvement.";
    message = "Well done! You're on the right track, but remember what Winston Churchill said: 'Success is going from failure to failure without losing your enthusiasm.' You've made good progress, but there are still opportunities to improve.";
} else {
    encouragement = "Don't give up! Every small step counts.";
    message = "It's normal to have ups and downs. As Thomas Edison said, 'I have not failed. I've just found 10,000 ways that won't work.' Every little step brings you closer to your goal, don't give up.";
}


    // Show the modal with the encouragement message
    document.getElementById("resultMessage").innerHTML = `
        <p>Votre score : ${percentage}%</p>
        <p>${encouragement}</p>
        <p>${message}</p>
    `;

    // Display the modal
    document.getElementById("resultModal").style.display = "block";
}

// Close the modal when the user clicks the close button
function closeModal() {
    document.getElementById("resultModal").style.display = "none";
}

// Reset the quiz when the user clicks "Refaire le test"
function resetQuiz() {
    // Reset the form and variables
    currentQuestionIndex = 0;
    document.getElementById('introspectionForm').reset();
    document.getElementById("resultButtonContainer").style.display = "none";
    showQuestion(currentQuestionIndex);
}

// Initial display
showQuestion(currentQuestionIndex);
</script>

<script>
    // Animation pour la section Planification
    lottie.loadAnimation({
        container: document.getElementById('planification'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'https://lottie.host/3830dbd2-3c0a-4d39-9577-7900341d049c/CIjOldk3m5.json' // Remplacez ce lien par votre animation Lottie
    });

    // Animation pour la section Citation Quotidienne
    lottie.loadAnimation({
        container: document.getElementById('citation'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'https://lottie.host/c6019677-5354-496f-8906-a9702ab43010/PKKYJU70ms.json' // Remplacez ce lien par votre animation Lottie
    });

    // Animation pour la section Suivi des Progrès
    lottie.loadAnimation({
        container: document.getElementById('suivi'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'https://lottie.host/90ce1dde-9a00-4b73-9ca2-ca148ef16174/2M7wtA2DzC.json' // Remplacez ce lien par votre animation Lottie
    });

     // Animation pour la section reality
     lottie.loadAnimation({
        container: document.getElementById('reality'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '/static/json/reality.json' // Remplacez ce lien par votre animation Lottie
    }); 
</script>

<script>
        lottie.loadAnimation({
            container: document.getElementById('lottie-background'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: 'https://lottie.host/5ff20cc6-8ed9-4298-acd4-1aad14d615d7/s0gTxrjgEi.json' // Chemin du fichier JSON
        });

        lottie.loadAnimation({
            container: document.getElementById('lottie-background-right'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: 'https://lottie.host/5ff20cc6-8ed9-4298-acd4-1aad14d615d7/s0gTxrjgEi.json' // Même chemin pour l'animation
        });
</script>

</body>
</html>
